/*
闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ灁闁绘搩鍋嗛幏瀣喆閸曨偒浼撻梻浣芥硶閸犳劙寮告繝姘闁绘垼濮ら弲绋裤�濮樸儱鍔ョ紒鏃傚枔閸犲﹥寰勭�顏嶄紦闂備浇娉曢崰鏇☆暰闁荤偞绋忛崕鐢稿极閹捐妫橀柕鍫濇椤忥拷 婵帗绋掗敃銏ゅ极閹捐妫橀柕鍫濇椤忥拷0

闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐鐭楁い鎰╁�椤忕喖鏌熸搴″幋闁轰焦鎹囧顒勫Χ閸℃浼撻梻浣芥硶閸犳劙寮告繝姘鐎瑰嫭澹嗙涵锟�/
* {
	margin: 0;
	padding: 0;
	font-family: "闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘炬嫹";
	/*border-collapse:collapse;*/
{   
	margin: 0;
	padding: 0;
	scrollbar-arrow-color:#98BAD2;
	scrollbar-face-color:#E3F1FB;
	scrollbar-darkshadow-color:#98BAD2;
	scrollbar-highlight-color:#E3F1FB;
	scrollbar-3dlight-color:#98BAD2;
	scrollbar-shadow-color:#E3F1FB;
	scrollbar-track-color:#E3F1FB;
} 

BODY {
	FONT-FAMILY:9pt Verdana, Arial, Helvetica, sans-serif;margin-top: 0px;
	/* background:url(../images/right-bg-1.gif); */
	text-align: center;color:black;
	font-family: arial, 冼极, serif;
}

input,select,textarea { color:black; }
/*缂備緡鍨靛畷鐢靛垝濞差亝鐓ラ柣鏂挎啞閻忣噣鏌熸搴″幋闁轰焦鎹囧顒勫Χ閸℃浼撻梻浣芥硶閸犳劕顭块崘顔芥櫜闊洦鏌ㄩ鍫曟煕濡ゅ啫鈻堥柕鍡楊樀閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹炬惌娈伴柧蹇氼嚃閺嗘粓鏌熼崙銈嗗98闂備浇娉曢崰鎰板几婵犳艾绠柨鐕傛嫹*/
#content{
	width: 100%;
    border: 0px; margin:auto;
}

table {
	width: 100%;
	border: none;
	/**濠殿噯绲鹃惄顖炲极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ灁婵炲ジ绠栧Λ鍐煛閸屾凹浼�
	* 闂備浇娉曢崰鎰板几婵犳艾绠柧姘�閻﹀酣姊虹捄銊ユ瀾闁哄顭烽獮蹇撶暋閹殿喗鐦�
	* 闂佸憡锕幏锟�font-size: 14px;
	*/ 
	font-size: 12px
}
img { border:0; }
a,img,input { hide-focus:expression(this.hideFocus=true); /* for ie 5+ */outline:none; /* for firefox 1.5 + */ }
/*闂備緡鍋呭畝鎼佸极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥艾缍婇弻銊╂偄閸涘﹦浼勯梺褰掝棑閸忔﹢寮幘璇叉闁靛牆妫楅鍫曟⒑鐠恒劌鏋戦柡瀣煼楠炲繐鐣￠幍顔绢攨*/
input,select,textarea{border-color:#999 !important; }
a {
	cursor:pointer;
	text-decoration:none;
	color:#06c;;
}
a:link{
	color:#06c;
	text-decoration:none; 
}
a:hover{
	color:#00557D;
	text-decoration:none;
}
a:active{
	color:#00557D;
	text-decoration:none;
}
a:visited{
	color:#06c;
	text-decoration:none;
}

a.hh{
	cursor:pointer;
	text-decoration:none; 
	color:#999;
}
a.hh:link { 
	text-decoration:none; 
	color:#999;
}
a.hh:visited{
	text-decoration:none; 
	color:#06c;
}
a.hh:hover { 
	text-decoration:none; 
	color:#00557D;
}

/* 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐鐭楁い鎰╁�閺嗘粓鏌熸搴叆otton闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘辨嚀椤曪綁鏁撻敓锟*/
.awp_btnmargin { font-size:0 }
.awp_btnmargin input{ margin-right:4px; }

.awp_button_hover{
	/* border:1px solid #003366;  */
	border:none;
	padding:3px 8px;
	font-size: 12px; 
	cursor:pointer; 
	color: #09c; height:24px;
	 background:#f8fafe;
	 -webkit-box-shadow: 0 0 20px #f8fafe;
/*     background:#fff url(../images/awp_buttonbg.gif) repeat-x bottom;
	background-position:center \9;
	vertical-align:middle; */
	
}
.awp_button{
	padding:3px 7px;
	font-size: 12px; 
	cursor:pointer; 
	color: #fff;
    background-color: #5a98de;
    border-color: #5a98de;/* #fff url(../images/awp_buttonbg2.gif) repeat-x center; */
	/* background-position:center \9; */
	height:24px;
	border: none;
/* 	vertical-align:middle; */
}
.awp_input{
	border:1px solid #f1f1f1;
	padding-left: 3px; 
		
	/**濠殿噯绲鹃惄顖炲极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ灁婵炲ジ绠栧Λ鍐煛閸屾凹浼�
	* 闂備浇娉曢崰鎰板几婵犳艾绠柧姘�閻﹀酣姊虹捄銊ユ瀾闁哄顭烽獮蹇撶暋閹殿喗鐦�
	* 闂佸憡锕幏锟�font-size: 14px;
	*/ 
	font-size: 12px;
	
    /*background:#fff url(../images/awp_inputbg.gif) no-repeat top left;*/
	border-radius: 2px;
	padding: 4px;
	color: black;
}
.awp_input_hover{
	border:1px solid #999;
	color:#999;
	padding-left: 3px; 	
	
	/**濠殿噯绲鹃惄顖炲极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ灁婵炲ジ绠栧Λ鍐煛閸屾凹浼�
	* 闂備浇娉曢崰鎰板几婵犳艾绠柧姘�閻﹀酣姊虹捄銊ユ瀾闁哄顭烽獮蹇撶暋閹殿喗鐦�
	* 闂佸憡锕幏锟�font-size: 14px;
	*/ 
	font-size: 12px;
	
    background:#fff url(../images/awp_inputbg2.gif) no-repeat top left;
	border-radius: 2px;
	padding: 4px;
}

textarea { padding:4px; font-size: 14px; line-height:21px; border:1px solid #77ABCE;background:#fff url(../images/awp_textareabg.gif) repeat-x top; }
textarea.awp_textarea_hover { color:#675549; border:1px solid #E3772F;background:#fff url(../images/awp_textareabg2.gif) repeat-x top; }
/*************闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌ｉ褍浜濋柛鐐差煼楠炲繘鎮滈懞銉︽闂佸搫鍊堕崐鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佺懓鍢查崲鑼閿燂拷********************************/
.awp_title{
	text-align:center;
	margin-top:6px;
	width: 100%;
}

.awp_title table{
	height:29px;line-height:26px;
	/* background:#fff url(../images/awp_titlebg.gif) repeat-x bottom;border-collapse:collapse; */
	background-color: #f1f1f1;
}
.awp_title td { width:auto; }
.awp_title_td2{ float:left; clear:both;
	background-color: #f1f1f1;
 /*  background: transparent url(../images/biao.gif) no-repeat left center; */
  color:#333; /* margin-left:2px; */ /* padding:3px 0 0 20px; */
  font-size: 16px;
margin-left: 10px;
}
.awp_title_td2 strong { font-weight:normal; }
.title_img
{  /*  display:inline-block; height:16px; width:16px; */
 /*    background: transparent url(../images/biao.gif) no-repeat; */
}
.awp_titlebtn { border:1px solid #B3D2E7; background:#EAF6FE; margin:2px 0 0 0; padding:4px 0; }
/*************闂備浇娉曢崰鎰板几婵犳艾绠柣銈庡灱閸ゅ嫰姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥俺顫夐妵鍕偨閸涘﹥娅㈤梺鍝勫�閸婃牜锟芥熬鎷�*******************************/
.awp_cond{
	margin-top:6px;
	padding: 0px;  
	position: relative;
	border: #f1f1f1 1px solid; 
	width: 100%;
}

.awp_cond table{
	text-align:right;
	border-collapse:collapse;
	background:#fff;
}

.awp_cond table td{
    white-space: nowrap; line-height:25px; padding:3px;
}


/***********闂備浇娉曢崰搴ゃ亹閵娾晛绠熼悗锝庡亜椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥艾缍婇弻銊╂偄閾忕懓鎽甸梺璺ㄥ櫐閹凤拷***********************************/
.awp_list{
	margin-top:6px;
	border: none;
	width: 100%;
}

.awp_list table{ 
/*     background:#9CC2DA; */
	border-spacing:1px; padding:0;
    jerry:expression(cellSpacing="1");
}

.awp_list  td{
	height:30px;padding:6px 2px;
}

.awp_list tr:nth-of-type(odd) {background: #f9f9f9;}
.awp_list_title{
    text-align:center;
    background-color:#f1f1f1;
}

.awp_list_title td{
	white-space: nowrap;
	position: relative;
	/* background:url(../images/biaog-bg.gif) bottom; */
		background-color:#f1f1f1;
	height:25px;
}

.awp_list2{
	margin-top:6px;
	position: relative;
	border: none;
	overflow-x: auto;
	overflow-y: auto;
	width: 100%;
		background-color:#f1f1f1;
}

.awp_list2 table{ 
   /*  background:#9CC2DA; */
	border-spacing:1px; padding:0;
    jerry:expression(cellSpacing="1");
    
}

.awp_list2  td{
	height:30px;padding:0 2px;
}

.awp_list_title2{
    text-align:center;
}

.awp_list_title2 td{
	white-space: nowrap;
	position: relative;
	/* background:#EBF8FD url(../images/biaog-bg2.gif) center center;  */
	height:25px;
	
}


.table_list2{
	margin-top:6px;
	position: relative;
	border: none;
	overflow-x: auto;
	overflow-y: auto;
	width: 100%;
}

.table_list2 table{ 
  /*   background:#9CC2DA; */
	border-spacing:1px; padding:0;
    jerry:expression(cellSpacing="1");
}

.table_list2  td{
	height:30px;padding:0 2px;
}

.table_list2_title2{
    text-align:center;
}

.table_list2_title2 td{
	white-space: nowrap;
	position: relative;
	background:#EBF8FD url(../images/biaog-bg2.gif) center center;
	height:25px;
	
}



/***********闂備浇娉曢崰搴ゃ亹閵娾晛绠熼悗锝庡亜椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥艾缍婇弻銊╂偄閾忕懓鎽甸梺璺ㄥ櫐閹凤拷***********************************/
.awp_dynamic_list{
	margin-top:6px;
	position: relative;
	border: none;
	overflow-x: auto;
	overflow-y: auto;
	width: 100%;
}

.awp_dynamic_list table{ 
  /*   background:#f1f1f1; */
	/* border-spacing:1px; */ padding:0;
    jerry:expression(cellSpacing="1");
	
}

.awp_dynamic_list  td{
	height:30px;padding:0 2px;
}

.awp_dynamic_list_title{
    text-align:center;
}

.awp_dynamic_list_title td{
	white-space: nowrap;
	position: relative;
	background:#F1f1f1;
	height:25px;
	
}


.fixedCol{
    position: relative;
    top: expression(this.offsetParent.scrollTop);
    color: #474545 !important;
}

.awp_list td{
	color: #474545;
}


/************闂備浇娉曢崰鎰板几婵犳艾绠瀣捣閻骸顪冮妶鍥ㄦ毈闁轰焦鎹囧顒勫Χ閸℃浼�**********************/
.awp_detail{
	margin-top:0px;
	position: relative;
	overflow-x:auto; overflow-y:hidden;
	
    width: 100%;
}
.awp_detail table{
	text-align:right;
	padding:0px;
	border-spacing:1px;
	jerry:expression(cellSpacing="1");
	background-color:#CECECE;
}


.awp_detail table td{
  height:30px;padding:6px;
  background-color:#fff;
}

.awp_detail  textarea {
  width:85%;
  border-radius: 5px;
  border: 1px solid #999;
  color: black;
}

.awp_detail  text {
  size:64;
}
/***闂備浇娉曢崰鎰板几婵犳艾绠瀣捣閻骸顪冮妶鍥ㄦ毈闁轰焦鎹囧顒勫Χ閸℃浼撻梻浣芥硶閸犳劙寮告繝姘闁绘垼濮ら弲鎼佹偡濞嗘劕绗╂い鏃�姍楠炲繘鎮块婊勭槏闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘辨嚀椤曪綁鏁撻敓锟�**/
.awp_detail_inner {
	position: relative;
	overflow:auto;
}
.awp_detail_inner table{
	padding:0px;
	border-spacing:1px;
	jerry:expression(cellSpacing="1");
	background-color:#CECECE;
}
.awp_detail_inner table td{
  height:30px;padding:0 2px; background:#fff; text-align:left;
}
.awp_detail_inner tr.inner_title td { background:#E9F4F9; }
/************闂備浇娉曢崰搴ㄦ晸閻ｅ苯鏋庨柣锝夌畺閺屻劑鎮㈤崨濠勪紕闂佸湱鍏橀ˉ鎾诲Φ濮樿埖鐓ラ柣鏂挎啞閻忣噣鏌熸搴″幋闁轰焦鎹囧顒勫Χ閸℃浼撻梻浣芥硶閸犳挾鍒掗幖浣规櫢闁跨噦鎷�*********/

.awp_msgtab{
	margin-top:6px;
	width: 100%;
	position: relative;
	border: none;
}

.awp_msgtab table{
	border:1px solid #A3D4FE;
	background:#F6F9FA url(../images/awp_condbg.gif) repeat-x;
}

.awp_msgtab table td{
    padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:left;
	line-height:22px;
}
.awp_msgtab p strong { display:inline-block; background:url(../images/lightbulb.gif) no-repeat left; padding-left:25px; height:32px; line-height:30px; }

/************闂備浇娉曢崰鎰板几婵犳艾绠柣鎴濐潟閿熸枻鎷�**********************/
.awp_page_bottom{
	border: none;
	margin-top:4px;
	margin-bottom:18px;
	/**濠殿噯绲鹃惄顖炲极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ灁婵炲ジ绠栧Λ鍐煛閸屾凹浼�
	* 闂備浇娉曢崰鎰板几婵犳艾绠柧姘�閻﹀酣姊虹捄銊ユ瀾闁哄顭烽獮蹇撶暋閹殿喗鐦�
	* 闂佸憡锕幏锟�font-size: 14px;
	*/ 
	font-size:12px;
}

/************婵＄偑鍊楅弫鎼侇敆閻戣姤鐓ラ柣鏂挎啞閻忣噣鏌熷畡鏉挎Щ缂佹唻鎷�**********************/
.awp_tabpanel{
	margin-top:4px;
	padding-top: 2px;  
	position: relative;background:url(../images/tabs1.gif) repeat-x bottom; text-align:left;
}

.awp_tabpanel table{
	text-align:right;
	border-collapse:collapse;
	height:26px;
	width:auto;
}
.awp_tabpanel table td{
	height:26px; padding:0 10px; width:auto;
}
.awp_tabpanel td.awp_tabspit { padding:0; width:0px; background:url(../images/tabs1.gif) repeat-x bottom;}

.fontbold{
	nowrap: true;
	text-align:center;	
	font-weight:bold;
	background:url(../images/tabs2.gif) repeat-x bottom;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	color:#09c; 
	
}

.nsfontbold{ 
	nowrap: true;	
	text-align:center;		
	background:url(../images/tabs3.gif) repeat-x bottom;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	color:#416AA3;cursor:pointer;
}

.awp_tabwraper { background:#FCFDFE url(../images/awp_tabwraper_bg.gif) repeat-x top; width:100%; }
.awp_maintab { background:url(../images/awp_maintab_bg.gif) repeat-x center bottom; padding:16px 0 5px 0; width:100%; text-align:center; }
.awp_maintab span { display:inline-block;zoom:1;*display:inline; background:url(../images/miantab01.gif) no-repeat; width:116px; height:29px; text-align:center; font-size:14px; font-weight:bold; color:#097AB4; line-height:29px; margin-right:-8px; cursor:pointer; }
.awp_maintab span.linkit { background:url(../images/miantab02.gif) no-repeat; color:#004C73; }
.awp_maintab span a,#content .awp_maintab span a { text-decoration:none;display:inline-block;zoom:1;*display:inline; width:100%; }
.tabpanelbtn { float:right; margin-top:-24px; clear:both; }
/* .tabpanelbtn input { margin-left:6px; } */

.awp_tabrole {
    background:#F8FBFC;
	position: relative;
	border: none;
	overflow-x: auto;
	overflow-y: auto;
	width: 100%;
}
.awp_tabrole p { text-align:left; font-size:14px; line-height:30px; }

.awp_tabrole table{ 
	border-collapse:collapse;
}
.awp_tabrole td{
	height:30px;padding:0 2px; line-height:30px; text-align:left;
}

/************main婵＄偑鍊楅弫濠氬极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇撶暋閹殿喚顢�**********************/
.awp_main{
	font-size:36px; 
	color: #00557D; 
	font-weight: bold;
}

UL{
	list-style-type:none;
	margin:0px;
}

/************闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐妫橀柕鍫濇椤忓墎绱撴担鍛婎棦闁靛棗顦甸弻銊╂偄閸涘﹦浼勯梺鐟板殩閹凤拷***********************/
.awp_detail_bgz{
	margin-top:4px;
	position: relative;
	overflow:auto;
    width: 100%;
}
.awp_detail_bgz table{
	text-align:right;
	padding:0;
	border-spacing:1px;
	jerry:expression(cellSpacing="1");
	background-color:#b0b0b0;
}


.awp_detail_bgz table td{
  height:26px;
  background-color:#ffffff;
}

/* TAB 闂備浇娉曢崰搴ゃ亹閵婏箑顕辨繛鍡樺姇椤忓爼鏌℃担鍝ュⅵ闁轰焦鎹囧顒勫Χ閸℃浼�*/
.tb_{background-image: url('../images/tabs1.gif'); background-repeat: repeat-x;background-color:;text-align:center;}
.tb_ ul{height:25px;}
.tb_ li{float:left;height: 25px;line-height:1.9;width: 75px;cursor:pointer;}
/* 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸湱鍏橀ˉ鎾诲Φ濮樿埖鐓ラ柣鏂挎啞閻忣噣鏌熸搴″幋闁轰焦鎹囧顒勫Χ閸℃浼撻梻浣芥硶閸犳劙寮告繝姘缂佸苯鐛眘闂備浇娉曢崰鎰板几婵犳艾绠柨鐕傛嫹 */
.normaltab   { background:url(../images/tabs2.gif) repeat-x top; border-top:1px solid #8DB2E3;border-left:1px solid #8DB2E3;border-right:1px solid #8DB2E3; height:25px; color:#416AA3;}
.hovertab    { background:url(../images/tabs3.gif) repeat-x top; border-top:1px solid #8DB2E3;border-left:1px solid #8DB2E3;border-right:1px solid #8DB2E3; height:25px; color:#416AA3; }
.dis{display:block;padding-top:8px;padding-bottom:8px;padding-left:8px;padding-right:8px;}
.undis{display:none;}
.ctt{height:auto;padding:6px;clear:both;border:1px solid #CECECE;border-top:0;text-align:left; background:#fff;}


/**----闂備浇娉曢崰鎰板几婵犳艾绠柣銈庡灠椤ュ繘姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥熬鎷�/
.deep  { background-color : #f1f1f1; color: #999;}

/**-----濠电偞娼欓幊鎾寸珶婵犲洦鐓ラ柣鏂挎啞閻忣噣鏌熸搴″幋闁轰焦鎹囧顒勫Χ閸℃浼�/
.light    { background-color : #FFFFFF; color: #999; }
.light select{
	color: #999; 
	border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
}
/**-----闂備浇娉曢崰搴ゃ亹閵娾晛绠熼悗锝庡亜椤忕s闂備浇娉曢崰鎰板几婵犳艾绠梺鍨儐椤洦銇勯幘鍗炲閻庢艾缍婇弻銊╂偄閸涘﹦浼勯梺褰掝棑閸忔﹢寮幘璇叉闁靛牆妫楅鍫曟⒑鐠恒劌鏋戦柡瀣煼楠炲繘鎮滈懞銉︽闂佽法鍣﹂幏锟�
.listdeepbg { background:#FAFAFA; }
.listlightbg { background:#fff; }
.listhoverbg { background:#FAE7BE; }
.listclickbg { background:#FAE7BE; }

img.dateselect {
	background-image:url("../images/calendar.gif");
	cursor:pointer;
	width:16;
	height:16; 
	border:0;
	vertical-align:middle;
}

/**---闂備浇娉曢崰鎰板几婵犳艾绠柣銈庡灣缁狅綁姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥熬鎷�*/
.syn_head { width:100%; margin:auto; background:url(../images/syn_head2.jpg) repeat-x top; height:63px; }
.syn_headl { width:501px; height:63px; float:left; clear:both; text-align:left; background:url(../images/syn_head1.jpg) no-repeat bottom; }
.syn_headl span { position:absolute; left:40px; top:33px; font-size:14px; color:#00607B; }
.syn_headl img { vertical-align:-4px; margin-right:5px; }
.syn_headr { position:absolute; right:1%; top:30px; }
.syn_headr img { cursor:pointer; }

.syn_leftbg { background:#EDFEFF; }
#syn_left { text-align:center; margin:auto; width:100%; color:#00607B; padding:5px 0; }
#syn_left a { font-size:14px; color:#00607B; text-decoration:none; }
#syn_left a:hover { font-size:14px; color:#27BDE7; text-decoration:none; }
.syn_title{ background:url(../images/syn_titlebg.jpg) no-repeat center; text-align:left; margin:auto; font-size:14px; height:32px; width:205px; line-height:32px; margin-bottom:4px; }
.syn_menu { width:201px; background:#E8FCFD; border:1px solid #6CCBEB; margin:auto; }
.syn_menu dl { width:96%; margin:10px auto; }
.syn_menu dt { font-weight:bold; font-size:14px; text-align:left; }
.syn_menu dt img { vertical-align:-6px; }
.syn_menu dd { border-bottom:1px dashed #97C2CE; margin:auto; padding-top:10px; }

.syn_main{ background:#fff url(../images/syn_mainbg.jpg) no-repeat center top; text-align:center; }
.syn_welcome{ background:url(../images/syn_welcome.jpg) no-repeat center; width:623px; margin:auto; margin-top:5%; font-size:33px; color:#007297; padding-top:400px; font-weight:bold; }


/***********闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌﹀Ο渚Ч閻犲洨鍋ら弻銊╂偄閸涘﹦浼勯梺褰掝棑閸忔﹢寮幘璇叉闁靛牆妫楅鍫曟⒑鐠恒劌鏋欏┑鈽嗗幘閸犲﹥寰勭�顏嶄紦CSS************************************/
#div_toolbar {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index:1;
}


/****************  闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ瀻鐟滆埇鍔戦獮澶岋拷锝庡亜椤忚泛顪冮妶蹇斿-闂備浇娉曢崰鎰板几婵犳艾绠�鍕绾拷闂備浇娉曢崰鎰板几婵犳艾绠紒灞绢劑p*className ****************/
.pop_cl,.pop_cl2{ clear:both; float:none; height:1px; }
.pop_cl2{ height:40px; }
#popall{ background:#fff;  margin:auto; text-align:center; color:#333; font-size:14px;}
/*-- 婵犮垼鍩栭幐鎶藉极閹捐妫橀柕鍫濇椤忥拷 --*/
#popNav{ margin:auto; text-align:left; background:url(../images/pop_bookmark.gif) no-repeat 8px 8px; padding-left:2.5em; height:30px; line-height:30px; font-weight:bold; font-size:12px; }
#popNav span{ color:#009BEC; }

/*-- 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佺懓鍤栭幏锟�--*/
#popCont{ margin:auto; text-align:center; width:99%; padding-top:30px; background:#fff url(../images/pop_contbg.gif) repeat-x top; border-left:1px solid #E3E2E2;border-right:1px solid #E3E2E2;border-bottom:1px solid #E3E2E2; }

/*-- 闂備浇娉曢崰鎾愁焽妤ｅ啯顥堥柍鍝勫�椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇旑槹鎼存稐绮�--*/
#popCont .tips{ float:right; margin-right:15px; height:45px; width:245px; text-align:left}
.tips .tipbg{ float:left; background:url(../images/pop_tips.gif) no-repeat; height:45px; width:41px; }
.tips .tipcot{ float:left; height:43px;width:200px; border-top:1px solid #D1D7E5;border-right:1px solid #D1D7E5;border-bottom:1px solid #D1D7E5; font-size:12px; line-height:21px; color:#7A889C; }
.tipcot span{ color:#0091BB; font-weight:bold; }

/*-- 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佺懓鍤栭幏锟�--*/
#popCont .Article{ width:96%; margin:auto; text-align:center; }
.Ar_title h1{ font-size:24px; font-family:'閻庣敻鍋婇崳锝夊极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ灆闁告挸銈搁幃顔撅拷娑櫭锟�,'闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘炬嫹'; font-weight:normal; line-height:50px;}
.Ar_title span{ margin:0 1.5% 0 2%; font-size:12px; color:#7E7E7E; }
.Ar_title img{ vertical-align:middle; padding-right:4px; border:0; }
.Ar_title a{ font-size:12px; color:#7E7E7E; text-decoration:none; margin:0 2px; }
.Ar_title a:hover{font-size:12px; color:#ff6600; text-decoration:none;}
.Ar_cont{ line-height:27px; text-align:left; margin-top:20px; }
.Ar_cont img{ width:expression(this.width > 460 ? 460 :true); max-width:460px; border:1px solid #586365; margin-top:10px; margin-bottom:10px;}

/*-- 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴濐潟閿熸枻鎷�--*/
#popCont .Ar_pages{ text-align:center; margin:5% 0 5% 0;}
.Ar_pages span{ 
  display:-moz-inline-box;
  display:inline-block;
  border:1px solid #A6A4A5; padding:1px 8px; height:17px; line-height:18px; color:#676767; font-size:12px; }
.Ar_pages span.onit,.Ar_pages span:hover{ 
  display:-moz-inline-box;
  display:inline-block;
  border:1px solid #333; background:#736F6E; color:#fff; font-size:12px; }
.Ar_pages span.onit{ font-weight:bold;}

/*-- 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹剧粯鏅搁柨鐕傛嫹--*/
#popCont .Ar_other{ border-top:1px dashed #DCDBD6; padding:20px 0 20px 40px; text-align:left;}
#popCont .Ar_other span{ color:#B2B4B5; font-size:12px; padding-left:4px; }
#popCont .Ar_other span a,#popCont .Ar_other2 a{ font-size:14px; color:#333; text-decoration:none; }
#popCont .Ar_other span a:hover,#popCont .Ar_other2 a:hover{ font-size:14px; color:#ff6600; text-decoration:none; }
.Ar_other h1{ margin-left:-40px; font-size:14px; color:#333; font-weight:bold; margin-bottom:7px; }
.Ar_other span img,.Ar_other h1 img{ vertical-align:middle; margin-right:8px; border:0;}
.Ar_other p{ line-height:27px;}
.Ar_other ul li{ list-style:none; display:block; line-height:27px; }
.Ar_other ul li a{ font-size:14px; color:#0B3B8C; text-decoration:none; font-family:'闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘炬嫹'; }
.Ar_other ul li a:hover{ font-size:14px; color:#ff6600; text-decoration:none; font-family:'闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘炬嫹'; }

/*-- 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佺懓鍤栭幏锟�--*/
#popCont .comment{ border-top:1px solid #E3E2E2;width:100%; padding:20px 0;}
.comment h1{ font-size:14px; color:#333; margin-bottom:7px; text-align:left; padding-left:20px; }
.comment h1 img{ vertical-align:-6px; margin-right:8px; border:0;}
.comment a{ float:right; padding-right:20px; font-weight:normal; color:#313097; margin-top:-1px; *margin-top:-20px; }
.comment strong{ color:#FE9039; }
.comment dl{ border:1px solid #F9F9F9; background:#FDFDFD; width:92%; margin:auto; text-align:left; padding:10px 15px; margin-top:10px; font-size:12px}
.comment dt{  color:#3686C4; }
.comment dt span{  color:#B2B4B5; line-height:24px; }
.comment dd{ line-height:27px; font-size:14px; }
#popCont .comment input{ border:1px solid #ccc; background:url(../images/pop_buttonbg.gif) repeat-x; height:26px; width:102px; font-size:14px; color:#333; }
#popCont .comment .reply{ text-align:left; width:95%; margin:auto; margin-top:20px;}

/****************  闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ瀻鐟滆埇鍔戦獮澶岋拷锝庡亜椤忚泛顪冮妶蹇斿2闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佺懓鍢查崲鑼閿燂拷-闂備浇娉曢崰鎰板几婵犳艾绠�鍕绾拷闂備浇娉曢崰鎰板几婵犳艾绠紒灞绢劑p*className ****************/
#popCont .Ar_other2{  clear:both; background:#fff; text-align:left; margin-top:2.5%!important;_margin-bottom:0.1%; }

.Ar_other2 span{ float:left; width:50%; *+width:49.9%;_width:49.9%; line-height:24px; word-wrap:break-word; border-top:1px dashed #DCDBD6; padding:1% 0%; }
.Ar_other2 span.one{ float:left; width:100%; line-height:24px; }

.Ar_other2 h1{
               float:left; font-size:14px;padding-left:1.5em; margin-right:3.5%;_margin-right:2.5%; line-height:24px;
               background:url(../images/pop_arrow.gif) no-repeat 4px 8px;
               background:url(../images/pop_arrow.gif) no-repeat 4px 6px \9;
              *background:url(../images/pop_arrow.gif) no-repeat 4px 6px;              
			   }
.Ar_other2 span.one h2{ float:left; font-size:14px; font-weight:normal;word-wrap:break-word;}

/*-- 婵☆偅婢樼�浼村极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥俺顫夐妵鍕晸閿燂拷 --*/
.awp_alert_sort { border:1px solid #93C1DD; background:#FCFCFC url(../images/alert_sort_bg.gif) repeat-x top; padding:0; margin:0; }
.awp_alert_sort a { display:inline-block; *display:inline; zoom:1; height:150px; width:30%; padding:0; margin:0; background-repeat:no-repeat; background-position:center center; border:0; cursor:pointer; }
.awp_alert_sort a.sort01 { background-image:url(../images/alert_sort01.gif); }
.awp_alert_sort a.sort01:hover { background-image:url(../images/alert_sort01_hover.gif); }
.awp_alert_sort a.sort02 { background-image:url(../images/alert_sort02.gif); }
.awp_alert_sort a.sort02:hover { background-image:url(../images/alert_sort02_hover.gif); }
.awp_alert_sort a.sort03 { background-image:url(../images/alert_sort03.gif); }
.awp_alert_sort a.sort03:hover { background-image:url(../images/alert_sort03_hover.gif); }
.awp_alert_sort a.sort04 { background-image:url(../images/alert_sort04.gif); }
.awp_alert_sort a.sort04:hover { background-image:url(../images/alert_sort04_hover.gif); }
.awp_alert_sort a.sort05 { background-image:url(../images/alert_sort05.gif); }
.awp_alert_sort a.sort05:hover { background-image:url(../images/alert_sort05_hover.gif); }
.awp_alert_sort a.sort06 { background-image:url(../images/alert_sort06.gif); }
.awp_alert_sort a.sort06:hover { background-image:url(../images/alert_sort06_hover.gif); }
.awp_alert_sort a.sort07 { background-image:url(../images/alert_sort07.gif); }
.awp_alert_sort a.sort07:hover { background-image:url(../images/alert_sort07_hover.gif); }
.awp_alert_sort a.sort08 { background-image:url(../images/alert_sort08.gif); }
.awp_alert_sort a.sort08:hover { background-image:url(../images/alert_sort08_hover.gif); }
.awp_alert_sort a.sort09 { background-image:url(../images/alert_sort09.gif); }
.awp_alert_sort a.sort09:hover { background-image:url(../images/alert_sort09_hover.gif); }

/*闁诲繒鍋炲ú鐔煎极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇涙倻閼恒儲娅㈤梺鍝勫�閸婃牜锟芥熬鎷�/
.slipbtn { cursor:pointer; height:24px; width:24px; border:0; margin:0;vertical-align:middle; padding:0;opacity:.6;filter:Alpha(Opacity=60) }
.slipUp { background:url(../images/uiimages/layout_button_up.gif) no-repeat center center; }
.slipDown { background:url(../images/uiimages/layout_button_down.gif) no-repeat center center; }

a.awpuserbtn { padding:4px 8px 4px 30px; background:url(../images/awpuserbtn.gif) no-repeat center; cursor:pointer; margin-top:3px; text-decoration:none; }
.awp_subtitle table { border:1px solid #5DAADB; background:#EFF7FA; height:27px; line-height:27px; width:100%; overflow:hidden; margin-top:5px; }
.awp_subtitle td span { padding:4px 4px 4px 20px; background:url(../images/bullet_go.gif) no-repeat left center;}

/*闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘鳖劊iv*/
.opendiv { overflow:hidden; margin-top:4px; }
.opendiv table { border-collapse:collapse; padding:0; width:100%;  float:none; clear:both; }
.progress,.progress span,.otextbg,.otextbg span { background:url(../images/opendiv_norepeatbg.gif) no-repeat; }
.opendivbodybg,.c_all tr.ttbg td,.c_all td.hoverbg { background:url(../images/opendiv_repeatbg.gif) repeat-x; }

.opendivbodybg { background-color:#F5F7F9;background-position:0 -81px }
.c_all { padding:4px 8px; text-align:center; } 

.c_all table { width:90%; background:#F8FCFE; border-top:1px solid #7BBECF; border-bottom:1px solid #7BBECF; margin:6px auto 10px auto;}
.c_all tr.ttbg td { background-position:0 -27px; text-align:center; }
.c_all tr.oddbg   { background:#DFF5F9; }
.c_all td.hoverbg  { background-position:0 -54px; border-left:1px solid #EADDB2; border-right:1px solid #EADDB2; }
.c_all td { border-left:1px solid #7BBECF; border-right:1px solid #7BBECF; padding:0 4px; height:27px; line-height:27px; }
.c_all td a { text-decoration:none; }
.c_all td a img { margin-right:3px; vertical-align:-3px; }

.otextbg,.otextbg span,.progress,.progress span { display:inline-block;*display:inline; zoom:1; height:21px; line-height:21px; font-size:12px; }
.progress { background-position:0 -112px; padding-left:3px; float:left; clear:both; }
.progress span { background-position:right -133px; padding:0 5px 0 2px; }
.otextbg { background-position:0 -154px; padding-left:3px;  }
.otextbg span { background-position:right bottom; padding:0 5px 0 2px; }

/*闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘炬嫹*/
.awp_search { text-align:center; background:#F9FCFF url(../images/awp_condbg.gif) repeat-x;border: 1px solid #A3D4FE; padding:20px 0; margin:4px 0; }
.awp_search table { width:auto; margin:auto; text-align:center; border-collapse:collapse; }
.awp_search input { font-size: 14px; height: 34px; border:0; }
.awp_search input.stext { background: url(../images/awp_searchtext2.gif) no-repeat left top; color: #759CAD; line-height: 34px; padding-left:16px; width: 500px; }
.awp_search input.stextin { background: url(../images/awp_searchtext.gif) no-repeat left top; color:#00557D; line-height: 34px; padding: 0 5px; width: 500px; }
.awp_search input.sbtn  { background: url(../images/awp_searchbtn.gif) no-repeat center top; cursor: pointer; width:100px; }
.awp_search .searchtip { font-size:14px; text-align:left; height:40px; background: url(../images/lightbulb.gif) no-repeat left center; padding-left:2em; }
/*闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐妫橀柕鍫濇椤忓爼鏌￠崒娑氱煉闁轰焦鎹囬弫鎾绘晸閿燂拷/
.awp_search_list { margin:0 auto; text-align:center; border:1px solid #89C8E2; }
.awp_search_list dl,.awp_search_list dt,.awp_search_list dd { list-style:none; text-align:left; }
.awp_search_list dl { border-bottom:1px solid #89C8E2; background:#FBFCFD; margin:auto; padding:5px 8px; }
.awp_search_list dt a { font-size:18px; color:#2E8AC7; line-height:30px; font-family:'閻庣敻鍋婇崳锝夊极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ灆闁告挸銈搁幃顔撅拷娑櫭锟�,'Arial'; }
.awp_search_list dd { font-size:14px; line-height:26px; }

/*闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘炬嫹*/
.awp_skin { border:1px solid #819FC8; margin:4px 0; background:#E5EEFF; padding:6px 0 }
.awp_skin table { border-collapse:collapse; }
.awp_skin td { height:30px; padding:4px 10px; }


/* 闂備浇娉曢崰鎰板几婵犳艾绠柣鎴ｅГ閺呮悂鏌￠崒妯猴拷鏍拷姘秺閺屻劑鎮㈤崨濠勪紕闂佸綊顥撻崗姗�极閹捐妫橀柕鍫濇椤忓爼姊虹捄銊ユ瀾闁哄顭烽獮蹇旑槹鎼淬劌鍘欓梻浣芥硶閸犲氦銇愰妸鈺佺疅閻庯綆鍋勯锟*/
.awp_taskrely { position:relative; background:#F7F9FC; border:1px solid #9CC2DA; overflow-x:auto; padding:5px 0; margin-top:4px; text-align:left }
.awp_taskrely table { border-collapse:collapse; width:auto; margin-left:8px; }
.awp_taskrely td { line-height:40px;}
.awp_taskrely span { display:inline-block; zoom:1;*display:inline; height:26px; line-height:26px;white-space: nowrap;border:1px solid #75A4C1; background:#E9F5FB; padding:0 6px; text-align:center;vertical-align:middle; }
.awp_taskrely span.arrow { background:url(../images/arrows.gif) no-repeat center center; width:20px;*width:24px; border:0; background-color:transparent; }
.awp_taskrely span p  { display:inline-block; zoom:1;*display:inline; height:24px; width:12px; background:url(../images/toolswindow/cont-t-slipt.gif) no-repeat center center; vertical-align:middle; }
tr.awp_taskrely_dif td      { color:#930000; }
tr.awp_taskrely_dif td span { border:1px solid #E8592D; background:#FDF4EF; }
tr.awp_taskrely_dif td span.arrow { background:url(../images/arrows_dif.gif) no-repeat center center; }
tr.awp_taskrely_dif td span p { background:url(../../red/images/toolswindow/cont-t-slipt.gif) no-repeat center center; }



textarea {
	resize:none;
}

.awp_page_bottom font > a{
	color: #999999;
}	
.awp_list a{
	text-decoration: unset;
	color: #999;
}
.awp_list a:hover{
	text-decoration: unset
	color: #09c;
}
.awp_page_bottom select {
    color: #999;
}
.awp_page_bottom font{
	color: #999 !important;
}
.node_name{
	color: #999;
}
td a:hover{
	color: #09c;
}
select{
	border: 1px solid #999 !important;
	border-radius: 3px;
}
#tree_link_1{
	background-color: rgb(255, 255, 255) !important;
}
.awp_list>table>tr>td>input{
	border:1px solid #999;
}
.awp_page_bottom > font{
	font-size:14px;
}
.awp_page_bottom > font:first-child{
	float:left;
	font-size:14px;
}







