<?xml version="1.0" encoding="UTF-8"?>         
<Accounts>   
    <!-- 短信验证配置 -->
    <message type="GRC07">
	    <!-- key -->
	    <accessKeyId></accessKeyId>
	    <!-- 秘钥 -->
	    <accessKeySecret></accessKeySecret>
	    <!--管控宝注册模板  -->
	    <registertemplateCode></registertemplateCode>
	    <!--管控宝修改密码模板  -->
	    <updatePwdtemplateCode></updatePwdtemplateCode>
	    <!-- 短信签名 -->
	    <signName></signName>
    </message>
    
</Accounts>
